<h2> 編輯類別 </h2>

<%= simple_form_for [:admin, @type] do |f| %>

  <div class="group">
    <%= f.input :name %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :order %>
  </div>


  <% if @photo.image.present? %>
    <span>目前商品圖</span> <br>
    <%= image_tag(@photo.image.thumb.url) %>
  <% end %>

  <div class="form-group">
    <%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image , as: :file %>
    <% end %>
  </div>


  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
