<h4>購買產品</h4>

    <!-- 加入類別篩選-->
    <!-- <% @type_n = nil  %> -->
    <h5>
    <% @types.each do |type| %>
    <%= link_to(type.name,type_path(type))  %>
    <% end %>
   </h5>


<hr>
<% @products.each do |product| %>
<!-- <% if product.type_id == @type_n || @type_n == nil %> -->
<!-- <!%= product.type_id %>  -->
<div class="col-xs-6 col-md-3 welcome-prod">
    <%= link_to product_path(product) do %>
    <% if product.photo.present? %>
    <%= image_tag(product.photo.image.medium.url, class: "thumbnail") %>
<% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
    <% end %>
    <% end %>
    <div class="description_fix_h">
        <p class="product_title"><%= product.title %></p>
        <p class="product_price">
            $
            <%= product.price %></p>
        <p class="product_dec"><%= truncate(product.description, :length => 40) %></p>
    </div>
</div>
<% end %>
<!--<% end %>-->
</div>
