<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <img src="https://s3-us-west-2.amazonaws.com/nirvana2016/image/blood-romance-banner.png" height="40" width="250" > -->

            <!--  <a class="navbar-brand" style="color:#FF0000;font-size:10pt;" href="/">戰鬥中的男人啊！背負拯救地球的使命就是你血色的浪漫</a> -->
            <!-- <a href=<%= root_path %>><%= image_tag("logo-01.png",class:"navbar-brand") %></a> -->
            <a href=<%= root_path %>><%= image_tag("https://s3-us-west-2.amazonaws.com/nirvana2016/image/logo-01.png",class:"navbar-brand") %></a>


            <div class="navbar-brand">
                <%= link_to carts_path do  %>
                <i class="fa fa-shopping-cart url_color"></i>
                (
                <%= render_cart_items_count(current_cart) %>
                )
                <% end %></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
              <li>
                  <%= link_to("關於我們",welcomes_about_path) %>
              </li>
                <li>
                    <%= link_to("討論區",groups_path) %>
                </li>
                <li>
                    <%= link_to("購買產品",products_path) %>
                </li>
                <!--  <li>
                    <%= link_to carts_path do  %>

                    <i class="fa fa-shopping-cart"></i>
                    (
                    <%= render_cart_items_count(current_cart) %>
                    )
                    <% end %>
                </li> -->
                <% if !current_user %>
                <li>
                    <%= link_to("登入", new_user_session_path) %>
                </li>
            <% else %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!,
                        <%= current_user.name %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- 判斷是否管理者 -->
                        <% if current_user.admin? %>
                        <li>
                            <%= link_to("管理者選單", admin_products_path ) %>
                        </li>
                        <% end %>
                        <li>
                            <%= link_to("帳號設定", edit_user_registration_path )%>
                        </li>
                        <li>
                            <%= link_to("個人訂單列表", account_orders_path ) %>
                        <li>
                            <%= link_to("我加入的討論版", account_groups_path) %></li>
                        <li>
                            <%= link_to("我發表過的文章", account_posts_path) %></li>
                    </li>
                    <li>
                        <%= link_to("登出", destroy_user_session_path, method: :delete ) %>
                    </li>
                </ul>
            </li>
            <% end %>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
