<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Rainbow</title>
        <!-- <link rel="icon" type="image/png" href="<!%= image_path("icon-03.png") %>"> -->
        <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/nirvana2016/image/icon-03.png">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <!--position:fixed;-->
        <div class="col-lg-12">
            <%= render "common/navbar" %>
        </div>
        <%= notice_message %>
        <%= yield %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render "common/footer" %>
</body>
</html>
